# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Database files
*.db

# Environment files
.env
.venv/
venv/
.ragatouille/
