<details class="mt-4">
  <summary class="font-bold text-lg cursor-pointer">Disclaimer</summary>
  <div class="mt-2 additional-content">
    <p>
      This is an experimental tool built on top of the
      <a href="https://vimbook.org" target="_blank" rel="noopener noreferrer"
        >Vanderbilt Internal Medicine Residency Handbook (vimbook.org)</a
      >, using the latest in AI technology.
    </p>

    <p>
      The handbook itself is not a substitute for clinical judgment and is
      intended as an educational guide, and the addition of AI to the handbook
      is no different. Caution should be taken and all responses should be
      checked for accuracy.
    </p>
  </div>
</details>
