<details>
  <summary class="font-bold text-lg cursor-pointer">
    How does this work?
  </summary>
  <div class="mt-2 additional-content">
    <p>
      This tool uses advanced AI technology called Retrieval-Augmented
      Generation (RAG) to provide answers to your queries based on the content
      of the
      <a href="https://vimbook.org" target="_blank" rel="noopener noreferrer"
        >Vanderbilt Internal Medicine Residency Handbook (vimbook.org)</a
      >.
    </p>
    <p>Here's how RAG works:</p>
    <ol>
      <li>You enter a query related to internal medicine.</li>
      <li>
        The selected AI model processes your query and retrieves relevant
        passages from the VIMBook using a specialized retrieval system.
      </li>
      <li>
        The retrieved passages are then passed to the language model, which
        generates a response by combining the relevant information from the
        passages.
      </li>
      <li>
        The generated response is displayed on the screen for you to read and
        use.
      </li>
    </ol>
    <p>Pros of RAG:</p>
    <ul>
      <li>
        It allows the AI model to access and use specific information from the
        VIMBook to provide more accurate and relevant responses.
      </li>
      <li>
        The retrieval step helps the model focus on the most pertinent
        information, leading to more targeted and efficient answer generation.
      </li>
    </ul>
    <p>Cons of RAG:</p>
    <ul>
      <li>
        Though it is less likely than it would be without the RAG, the
        underlying model can still hallucinate (create incorrect answers).
      </li>
      <li>
        The quality of the responses depends on the accuracy and
        comprehensiveness of the retrieval system. If the retrieval system fails
        to find the most relevant passages, the generated response may be less
        accurate or incomplete.
      </li>
      <li>
        RAG systems can be computationally expensive and may require more
        resources (and run more slowly) compared to standalone language models.
      </li>
    </ul>
    <p>
      Despite the limitations, RAG is a powerful approach that combines the
      strengths of retrieval systems and language models to provide informative
      and context-aware responses.
    </p>
  </div>
</details>
